.login-root {
    -fx-font-family: "Segoe UI";
    -fx-background-color:
            radial-gradient(center 20% 15%, radius 90%, #f8fbff, #b9dcfb, #4c93d1);
}

.login-shell {

    -fx-pref-width: 860;
    -fx-pref-height: 520;

    -fx-background-color: transparent;

    -fx-padding: 0;

    -fx-spacing: 0;

    -fx-effect:
            dropshadow(gaussian,
            rgba(0,0,0,0.34),
            36, 0.28, 0, 10);
}

.login-brand {

    -fx-pref-width: 390;
    -fx-pref-height: 520;

    -fx-padding: 52 42 42 42;

    -fx-spacing: 18;

    -fx-background-radius: 28 0 0 28;

    -fx-background-color:
            radial-gradient(center 20% 12%, radius 55%,
            rgba(255,255,255,0.22) 0%,
            transparent 60%),

            radial-gradient(center 80% 90%, radius 65%,
            rgba(255,255,255,0.10) 0%,
            transparent 70%),

            linear-gradient(to bottom right,
            #0b3c88 0%,
            #1565c0 38%,
            #2b88e6 72%,
            #59b3ff 100%);

    -fx-border-width: 0 1.4 0 0;

    -fx-border-color: rgba(255,255,255,0.35);

    -fx-effect:
            innershadow(gaussian,
            rgba(255,255,255,0.16),
            25, 0.25, 0, 0),

            innershadow(gaussian,
            rgba(0,0,0,0.18),
            20, 0.2, 0, 3);
}

.login-icon {

    -fx-font-size: 64px;

    -fx-text-fill: white;

    -fx-opacity: 0.95;

    -fx-effect:
            dropshadow(gaussian,
            rgba(0,0,0,0.28),
            12, 0.25, 0, 4);
}

.form-title {

    -fx-font-size: 46px;

    -fx-font-weight: bold;

    -fx-text-fill: #143d6c;
}

.form-subtitle {

    -fx-font-size: 15px;

    -fx-text-fill: #5f7895;
}

.login-slogan {

    -fx-font-size: 15px;

    -fx-font-weight: bold;

    -fx-text-fill:
            rgba(255,255,255,0.95);

    -fx-padding: 120 0 0 0;
}

.login-form {

    -fx-pref-width: 480;
    -fx-pref-height: 520;

    -fx-padding: 42;

    -fx-background-radius: 0 28 28 0;

    -fx-background-color:
            linear-gradient(to bottom,
            #ffffff,
            #eaf6ff);
}

.login-title {
    -fx-font-size: 44px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-wrap-text: false;
    -fx-effect:
            dropshadow(gaussian, rgba(0,0,0,0.28), 10, 0.25, 0, 3);
}

.login-header {

    -fx-padding: 0 0 14 0;

    -fx-border-width: 0 0 1 0;

    -fx-border-color:
            rgba(120,160,210,0.28);
}

.login-subtitle {

    -fx-font-size: 19px;

    -fx-font-weight: 600;

    -fx-text-fill:
            rgba(255,255,255,0.92);

    -fx-effect:
            dropshadow(gaussian,
            rgba(0,0,0,0.22),
            6, 0.2, 0, 2);
}